.user-container {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px;
  }
  .user-item{
   width: 400px;
   height: 450px;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: auto;
  
  }
  h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .delete-admin{
    margin: auto;
    margin-top: 50px;
    padding: 20px;
  }
  .delete-admin button{
    margin-left: 90px;
    margin-top: 20px;
    background-color: red;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .loading {
    text-align: center;
    color: #666;
  }
  